<%- include header %>

	<div class="Contenedor">
		<div class="TextoFondo"></div>

		<div class="Contenido">
			<h1>&#124Partida: <%= partida.Nombre %></h1>
			<div class="FormPanel">
				<p>
					Creado por: <span class="negrita"><%= partida.Creador %></span> <br>
                                        Jugadores: <span class="negrita"><%= partida.Participantes %></span> <br>
                                        Turno de: <span class="negrita"><%= partida.Turno %></span> <br>
                                        Turnos restantes: <span class="negrita"><%= partida.Max_turno %></span>
				</p>
			</div>
                        <h1>&#124Tablero</h1>
                        <div class="tablaPartida">
                            <table cellspacing="5">
                                <% var i = 0 %>
                                <% for(var fila=0; fila < 7; fila++) { %>
                                    <tr>
                                    <% for(var columna=0; columna < 7; columna++) { %>
                                        <% if(i < cartasTabla.length && fila === cartasTabla[i].Fila && columna === cartasTabla[i].Columna) {%>
                                            <% if(fila === 3 && columna ===0) { %>
                                                <td><img src="../images/start.png"></img></td>
                                            <% } else if(columna === 6 && (fila === 1 || fila === 3 || fila === 5)) { %>
                                                <% if (partida.Estado === 'Terminada') {%>
                                                    <% if (partida.PosOro === fila) {%>
                                                        <td><img src="../images/Gold.png"></img></td>
                                                    <% } else { %>
                                                        <td><img src="../images/noGold.png"></img></td>
                                                    <% } %>
                                                <% } else {%>
                                                    <td><img src="../images/DNK.png"></img></td>
                                                <% } %>
                                            <% } else { %>
                                                <td><img src="../images/T<%= cartasTabla[i].Path %>.png"></img></td>
                                            <% } %>
                                            <% i++; %>
                                       <% } else { %>
                                               <td><a href="/partida/<%= partida.Nombre %>/casilla/<%= fila %>y<%= columna %> "><img src="../images/cardImg2.jpg"></img></a></td>
                                         <% } %>
                                    <% } %>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                        <% if (partida.Estado !== 'Terminada') {%>
                            <h1>&#124Tus cartas</h1>
                            <div class="tablaPartida">
                                <table>
                                    <tr>
                                    <% for(var i=0; i < nCarta; i++){ %>
                                        <% if(jugador.Nick === partida.Turno) { %>
                                        <td><a href="/partida/<%= partida.Nombre %>/<%= cartas[i].Path %>"><img src="../images/T<%= cartas[i].Path %>.png"></img></a></td>
                                        <% } else { %>
                                        <td><img src="../images/T<%= cartas[i].Path %>.png"></img></td>
                                        <% } %>
                                    <% } %>
                                    </tr>
                                </table>
                            </div>
                            <% if(jugador.Nick !== partida.Turno) { %>
                                <div class="Turno">
                                <span class="Resalta">Aún no es tu turno. Debes esperar para jugar una carta.</span>
                                </div>
                            <% } %>
                        <% } %>
		</div>
		</div>
	</div>
<%- include footer %>