<!-- Informacion de curso -->
<div>
    <div id="descripcionCurso">
        <p>
            <%= curso.descripcion %>
        </p>
    </div>
    <div id="direccionCurso">
        <p><strong>Lugar de impartición:</strong></p>
        <p><%= curso.direccion %></p>
    </div>
    <div id="localidadCurso">
        <p><strong>Ciudad:</strong></p>
        <p><%= curso.localidad %></p>
    </div>
    <div id="horario">
        <p><strong>Horario:</strong></p>
        <p><%= curso.horario %></p>
    </div>
    <div id="plazas">
        <p><strong>Número de plazas:</strong></p>
        <p><%= curso.plazas %></p>
    </div>
</div>